# Dependencies and build outputs
node_modules
.DS_Store
/build
/.svelte-kit
/package
dist
**/dist
.next
.turbo

# Environment files
.env
.env.*
!.env.example

# Package manager files
pnpm-lock.yaml
pnpm-workspace.yaml
package-lock.json
yarn.lock

# Build and deployment files
.vercel
**/test-results
**/.last-run.json
**/output
**/*.timestamp-*

# Generated assets and bundles
**/_app/immutable
**/*.css
**/*.js.map
**/*.tsbuildinfo

# Test and coverage
coverage
playwright-report


# Config files
vite.config.js*
vite.config.*.timestamp-*
