# Dependencies and build outputs
.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

# Package manager files
pnpm-lock.yaml
pnpm-workspace.yaml
package-lock.json
yarn.lock

# Build and deployment files
.vercel
**/test-results
**/.last-run.json
**/output
**/*.timestamp-*

# Generated assets and bundles
**/_app/immutable
**/*.css
**/*.js.map

# Test results
**/test-results

# Config files
vite.config.js*
vite.config.*.timestamp-*
